<h1 style="text-align: center; text-decoration: underline; font-size: 30pt;">RoboCitizen</h1>
<p style="text-align: center; font-size: 16pt;">
	"The best thing to do if you are having a problem...is <em><strong>contact those officials who were elected to represent you</strong></em>"
	<br />
	<span style="font-size: 10pt">(<a href="http://www.boxer.senate.gov/en/contact/faq.cfm#5">senate.gov/faqs</a>)</span>
</p>
<hr>
<%= link_to '#', { style: 'text-align: center; text-decoration: underline;' } do %>
	<h4>About RoboCitizen</h4>
<% end %>
<p style="text-align: center">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac egestas tortor. Proin ullamcorper ultricies magna, id facilisis purus aliquet ac. Donec sit amet ante euismod, laoreet tortor quis, ullamcorper sapien. Nunc nibh dui, dapibus sed velit vel, tempor pellentesque erat. Donec in tortor euismod, ullamcorper urna quis, sagittis felis. Praesent pellentesque cursus sem, et aliquam ipsum fermentum eu. Proin leo ligula, mattis eget est eget, euismod egestas ipsum. Proin eleifend, mauris quis ornare accumsan, justo justo posuere lacus, eget dictum velit mauris sed sem. Etiam vel varius nisi, eu venenatis purus. Donec convallis dolor vel arcu placerat ornare. Duis imperdiet dolor dui, vitae pharetra tellus sodales et. Donec egestas, massa a luctus semper, mi dui convallis ligula, sed faucibus felis mauris sed ipsum. Nunc laoreet nisi tortor, et cursus magna cursus vel.

	Aliquam ullamcorper tellus lectus, non lacinia velit varius sit amet. Suspendisse ultrices rhoncus odio, nec cursus libero porta et. Vestibulum quis libero augue. Aenean aliquet sapien urna, eu fermentum purus rutrum eget. Morbi leo turpis, interdum et accumsan eu, tristique ac tellus. Integer porta est in odio hendrerit molestie. Curabitur porttitor velit id mauris vehicula fringilla. Maecenas vel arcu eget elit eleifend euismod ut eu felis. Vestibulum nec facilisis dui. Nulla sed ipsum libero. Morbi aliquam porta est, ut accumsan nisi molestie non. Morbi in felis ut risus volutpat venenatis. Maecenas congue nulla eu sapien tristique faucibus.

	Maecenas egestas magna quis diam venenatis blandit. Vivamus ornare porttitor pellentesque. In gravida placerat sapien at adipiscing. Sed suscipit, tellus sit amet lacinia ultrices, lacus eros convallis quam, ac convallis libero nunc sed nisl. Morbi a lacinia justo, ac aliquam mi. Morbi gravida gravida arcu, non vestibulum purus ornare id. Mauris vestibulum risus in nulla aliquam, ut adipiscing massa aliquam. Mauris lacinia sapien nisl. In gravida arcu id justo lacinia, at scelerisque velit consectetur. Donec vestibulum tincidunt tempor. Proin hendrerit eleifend lacus, tincidunt hendrerit mauris congue ut. Nulla fermentum libero sit amet enim varius sodales. Nunc dolor tortor, tristique ut nibh non, euismod mollis magna. Maecenas mattis arcu sit amet metus ultricies dapibus. Mauris vel rhoncus dolor, dignissim tincidunt enim.

	Curabitur vel metus lorem. Integer volutpat sem pellentesque semper lobortis. Sed sit amet eros id sapien rhoncus tempor sodales non elit. Cras sagittis, nulla et vulputate mattis, dui ante convallis tortor, vel rhoncus ligula purus id nisi. Integer ut elit a quam placerat ornare. Aliquam erat volutpat. Nullam tincidunt est sit amet nulla auctor elementum. Morbi felis tortor, cursus ut risus sed, feugiat vulputate turpis. Vestibulum dictum risus sed metus volutpat lacinia.

	Quisque nulla nulla, pellentesque a sodales nec, pharetra suscipit nunc. Nunc ligula ligula, interdum tincidunt porta et, ornare vitae odio. Sed eget suscipit est. Etiam facilisis felis a dictum condimentum. Pellentesque porttitor semper est, ut elementum magna. Aliquam scelerisque, justo a commodo porttitor, nisl turpis ultrices erat, tincidunt sodales risus ipsum id arcu. Aenean adipiscing ultrices erat a feugiat. Pellentesque rutrum nibh quis erat mollis, nec iaculis mauris lacinia.
</p>