<div class="row">
	<div class="col-md-6">
		<h5 style="text-align: center">Search for Legislators by Party</h5>
		<p style="text-align: center">
			<%= link_to 'Democrat', '#' %> | 
			<%= link_to 'Republican', '#' %>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h5 style="text-align: center">Search for Legislators by Gender</h5>
		<p style="text-align: center">
			<%= link_to 'Male', '#' %> | 
			<%= link_to 'Female', '#' %>
		</p>
	</div>
</div>