<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
			<div class="row-fluid">
				<div class="col-md-8">
					<div class="well" id="site_links">
						<%= render 'home/by_state_links' %>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="well">
								<div class="row">
									<div class="col-md-12">
										<%= render 'home/search_by_links' %>
									</div>
								</div>
							</div>
						</div>	
						<div class="col-md-12">
							<div class="well" id="legislators_div">
								<%= render 'home/legislators_div' %>
							</div>
						</div>
					</div>
					<br />
				</div>
			</div>
			<div class="col-md-4">
				<div class="well" id="legislator_list">
					<%= render 'home/about_robo_citizen' %>
				</div>
			</div>
		</div>
	</div>
</div>
