<!-- TODO # Add two new partials # active_pols_male and active_pols_female -->
<%= render template: "layouts/global/application" %>
<div class="container-fluid">
	<br />
	<div class="row-fluid">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="well" id="legislator_list">
						<%= yield %>
					</div>
				</div>
			</div>
			<br />	
		</div>
	</div>
	<div class="col-md-4">
		<%= render 'home/partials/chamber_sidebar' %>
		<%= render 'home/partials/about_robo_citizen' %>
	</div>
</div>