<h4 style="text-decoration:underline">North Dakota Legislators</h4>
<% @northdakota_arr.each do |pol| %>
	<ul>
		<h5><li><%= "#{pol.first_name} #{pol.last_name} (#{pol.party} - #{pol.chamber.capitalize})" %></li></h5>
		<% if pol.twitter_id == nil %>
			<ul>
		<% else %>
			<ul><li>Twitter Handle: <%= "@#{pol.twitter_id}" %></li>
		<% end %>
		<li>Phone: <%= "#{pol.phone}" %></li></ul>
	</ul>
<% end %>