<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <p class="navbar-text navbar-left">&copy; Clark Feusier  2014</p>
      </div>
      <div class="col-md-8">
        <ul class="nav navbar-nav navbar-right" id="footer_nav_links">
          <li><%= link_to "Email", '#', id: 'footer_links' %></li>
          <li> <a href=""> | </a></li>
          <li><a href="http://github.com/Cfeusier" id="footer_links">Github</a></li>
          <li> <a href=""> | </a></li>
          <li><a href="http://linkedin.com/in/clarkfeusier" id="footer_links">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>