<nav class="navbar navbar-default navbar-fixed-bottom" id="footer" role="navigation">
  <div class="container-fluid">
    <a class="navbar-text navbar-left" href="http://devdevclark.com" id="copyrightid">&copy; Clark Feusier  2014</a>
    <ul class="nav navbar-nav navbar-right" id="footer_nav_links">
      <li><%= mail_to 'cfeusier@gmail.com', 'Email', id: 'footer_links' %></li>
      <li> <a href=""> | </a></li>
      <li><a href="http://github.com/Cfeusier" id="footer_links">Github</a></li>
      <li> <a href=""> | </a></li>
      <li><a href="http://linkedin.com/in/clarkfeusier" id="footer_links">Linkedin</a></li>
    </ul>
  </div>
</nav>