<div class="well" id="about_rc_well">
	<%= link_to about_path, { style: 'text-align: center; text-decoration: underline;' } do %>
		<h4>About RoboCitizen</h4>
	<% end %>
	<p style="text-align: center">
		RoboCitizen is a tool to empower people with seamless and free access to their legislators
	</p>
	<ol>
		<li><strong><em>Search</em></strong> by state, party, or gender</li>
		<li><strong><em>Choose</em></strong> a legislator you want to contact</li>
		<li><strong><em>Write</em></strong> a message or tweet to the legislator</li>
		<li><strong><em>Click</em></strong> 'Call Phone' or 'Send Tweet'</li>
	</ol>
	<p style="text-align: center">
		Your message will automatically be spoken to the legislator when he or she answers the phone
		<br />
		<br />
		Or, if you choose, your message will be tweeted to the legislator's Twitter profile
		<br />
	</p>
		<hr>
	<p style="text-align: center">
		||   <strong>Get Involved in Politics</strong>   ||
		<br />
		<br />
		||   <strong>Make the World Awesome</strong>   ||
	</p>
</div>