<%= button_to 'See Senators', senate_path, class: 'btn btn-primary pull-right', method: :get %>
<h2 style="text-decoration:underline">Congresspeople</h2>

<% house_leg_arr.each do |pol| %>
<ul>
	<h5><li><%= "#{pol.first_name} #{pol.last_name} (#{pol.party} - #{pol.chamber.capitalize})" %></li></h5>
	<% if pol.twitter_id == nil %>
		<ul><li>No Twitter Handle</li>
	<% else %>
		<ul><li>Twitter Handle: <%= "@#{pol.twitter_id}" %></li>
	<% end %>
			<li>Phone: <%= "#{pol.phone}" %></li></ul>
		</ul>
<% end %>
