<div class="well collapse-group" id="legislators_div">
	<h3 style="text-align: center">List of United States Legislators</h3>
	<button style="width: auto; height: 42px;" type="button" class="btn btn-primary btn-lg center-block" data-toggle="collapse" data-target="#viewdetails" id="see_hide_toggle">Show All Legislators</button>
	<hr>
	<div class="collapse" id="viewdetails">
		<%= render 'home/partials/all_legislators_by_state.html.erb' %>
	</div>
</div>