<div class="well" id="party_sidebar_profile">
	<h1 style="text-align: center"><%= req_path_final %></h1>
	<div style="text-align: center">
		<a href="#">Link to State Senate Website</a> | <a href="#" >Link to State Congress Website</a> | 
		<a href="#" >Link to State Government Website</a><br />
		...
	</div>
</div>
