/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Tag Selectors */

 body { 
 	padding-top: 45px;
 	padding-bottom: 50px; 
 }
 hr {
 	color: #333; //old IE
 	background-color: #333; //Modern Browsers
 	height: 1px;
 }
 a { cursor: pointer; }


 /* Class Selectors */

 .navbar-fixed-bottom {
 	padding-top: 0px;
 }
 .navbar-fixed-top {
 	min-height: 55px;
 }
 .notice {
 	color: green;
 	text-align: center;
 }
 .well {
 	padding-top: 0px;
 	padding-bottom: 10px;
 	margin-right: auto;
 	margin-right: auto;
 }
 

 /* ID Selectors */

 #state_links {
 	margin-left: 30px;
 	margin-right: 30px;
 }
 #footer_links {
 	text-decoration: underline;
 	margin: auto;
 	font-size: 14px;
 }
 #footer_nav_links {
 	margin-right: 20px;
 }
 #about_rc_well {
 	margin-bottom: 0px;
 }
 #legislator_list {
 	margin: auto;
 }
 #site_links a {
 	font-size: 14px;
 }
 #site_links {
 	text-align: center;
 }
 #active_states_links {
 	font-size: 13pt;
 }
 #copyrightid {
 	font-size: 14px;
 }
 #bs-example-navbar-collapse-1 {
 	max-height: 20%;
 }
 @media (max-width: 768px) { 
 	#footer {
 		visibility: hidden;
 	}
 }

