// Tag Selectors //
body { 
 	padding-top: 50px;
 	padding-bottom: 70px; 
}
hr {
	color: #333; //old IE
    background-color: #333; //Modern Browsers
	height: 1px;
}

// Class Selectors //
.navbar-fixed-bottom { height: 30px; }
.well {
	padding-top: 0px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.notice {
	color: green;
	text-align: center;
}

// ID Selectors //
#navright_links { margin-right: 20px; }
#footer_links { text-decoration: underline; }
#legislator_list { 
	margin: auto;
	padding-top: 10px;
 }
#site_links a { font-size: 11px; }
#state_header_profile { padding-top: 10px; }
#state_links {
	margin-left: 30px;
	margin-right: 30px;
}
a#stateid {
	font-size: 14pt;
}